<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.portala">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/baby"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/baby"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.NotaInstituicaoActivity"></activity>
        <activity android:name=".activity.RemoverDisciplinaActivity" />
        <activity android:name=".activity.DisciplinaInstituicaoActivity" />
        <activity android:name=".activity.TurmaInstituicaoActivity" />
        <activity android:name=".activity.AlunoInstituicaoActivity" />
        <activity android:name=".activity.ListarDisciplinaActivity" />
        <activity android:name=".activity.AlterarDisciplinaActivity" />
        <activity android:name=".activity.CadastrarDisciplinaActivity" />
        <activity android:name=".activity.ListarTurmaActivity" />
        <activity android:name=".activity.RemoverTurmaActivity" />
        <activity android:name=".activity.AlterarTurmaActivity" />
        <activity android:name=".activity.CadastrarTurmaActivity" />
        <activity android:name=".activity.ListarAlunoActivity" />
        <activity android:name=".activity.RemoverAlunoActivity" />
        <activity android:name=".activity.AlterarAlunoActivity" />
        <activity android:name=".activity.CadastrarAlunoActivity" />
        <activity android:name=".activity.ListarEventoActivity" />
        <activity android:name=".activity.RemoverEventoActivity" />
        <activity android:name=".activity.AlterarEventoActivity" />
        <activity android:name=".activity.CadastrarEventoActivity" />
        <activity android:name=".activity.ListarResponsavelActivity" />
        <activity android:name=".activity.RemoverResponsavelActivity" />
        <activity android:name=".activity.AlterarResponsavelActivity" />
        <activity android:name=".activity.CadastrarResponsavelActivity" />
        <activity android:name=".activity.FrequenciaActivity" />
        <activity android:name=".activity.NotaActivity" />
        <activity android:name=".activity.AlterarSenhaInstituicaoActivity" />
        <activity android:name=".activity.AlterarSenhaActivity" />
        <activity android:name=".activity.LoginInstituicaoActivity" />
        <activity android:name=".activity.PrincipalAdministracaoActivity" />
        <activity android:name=".activity.PrincipalActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>